node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo

/ios/
/android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.env
.env.*
!.env.example
supabase/functions/.env

npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*
.DS_Store
